.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.keypads{
  grid-template-columns: auto auto auto;
    display: grid;
    margin: 2rem 35rem;
    width: 32%;
    background: #f1f3f4;
    color: #202124;
    border: 200px solid #f1f3f4;
    border-radius: 10px;
    
  }
  .container{
    text-align: center;
  }
 
