body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list{
text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
 
}
.Nav-Link{
  color:rgb(252, 246, 246);
}
  .back-btn{
    font-family: Arial;
    text-transform: uppercase;
    font-size: 30px;
    width: 240px;
    height:60px;
    border-radius: 80px;
    line-height: 60px;
    text-align:center;
    border: 3px solid #009688;
    display: block;
    text-decoration: none;
    margin: 300px auto;
    color: #009688;
    position:center;
    overflow: hidden;
    background: transparent;
    transition: 3s;
  }
  body{
    
    font-size: 30px;
    background-color: #185f59
  }
  .company-list{
    color:rgb(41, 30, 4)
  }

  

  a:visited {
    color: rgb(29, 28, 95);
  }
  

  a:hover {
    color: rgba(10, 13, 14, 0.959);
  }
  

  a:active {
    color: rgb(207, 47, 55);
  }
  a:link {
    text-decoration: none;
  }